Let's pretend we are an Airbnb employee assigned to the Lisbon market. Our job is to help clients find their desired listing. We have a file named `airbnb.csv` that has information on all the listings we have available right now in the city.

### Exercise 1.

Alice is going to Lisbon for a week with her husband and 2 kids. They are looking for a full apartment with separate rooms for parents and children. Money is not an issue for them, but they are looking for a good place. This means they are only looking for places with more than 10 reviews and a score above 4. When we show Alice our listing selection we need to make sure we are sorting the listings from the best score to the worse one. In case some listings have the same score, we will have to sort them by the number of reviews (the more the better). We need to give her  3 alternatives.

In [30]:
import pandas as pd

df = pd.read_csv("data/airbnb.csv")

requirements = df[(df.overall_satisfaction>4) & (df.reviews>10) & (df.room_type == "Entire home/apt") & (df.bedrooms >= 2) & (df.accommodates >=4)]

sortie = requirements.sort_values(by = ["overall_satisfaction","reviews"],ascending = [False,False])

sortie.head(3)


## if you wanna sort by ascending and descending for different variables, give ascending a list of boolean values

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
16,44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0

### Exercise 2

Robert has an apartment listed on Airbnb. From time to time he calls us asking about the reviews his listing has (he doesn't know how the internet works). Today he seems to be extra angry, because he heard that his sister Clara has put up a listing on her own on Airbnb, and he wants to make sure his has more reviews than hers. Because he doesn't know how to use the internet, we need to create a dataframe showing the information for both listings (Roberto's listing is 97503 , Clara's is 90387) and save it as an excel file named `robert.xls`.

In [17]:
import pandas as pd 

df=pd.read_csv("data/airbnb.csv")

rc = df[(df.room_id == 97503)|(df.room_id == 90387)]

rc.to_excel("robert.xls")


### Exercise 3

Diana is going to spend 3 nights in Lisbon and she wants to meet new people. Se has a budget of 50€. We need to provide to her the 10 cheapests listings, with a preference for shared rooms. We need to sort the rooms by score (descending).

In [31]:
import pandas as pd 

df = pd.read_csv("data/airbnb.csv")

requirements = df[(df.price <= 50/3) & (df.room_type == "Shared room")]

tenc = requirements.sort_values(by = "price", ascending = True).head(10)

sortie = tenc.sort_values(by = ["overall_satisfaction"], ascending = False)

sortie

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
8908,14708916,91501272,Shared room,Santo António,18,4.5,4,1.0,11.0
9061,14932515,91501272,Shared room,Santo António,9,4.5,4,1.0,11.0
9062,14932518,91501272,Shared room,Santo António,7,4.5,4,1.0,11.0
6641,11693442,28812904,Shared room,Santa Maria Maior,16,4.5,1,1.0,11.0
6640,11693356,28812904,Shared room,Santa Maria Maior,3,4.5,1,1.0,11.0
1010,1179457,5799522,Shared room,Santo António,42,4.0,16,1.0,10.0
3562,5557699,28812904,Shared room,Santa Maria Maior,22,4.0,1,1.0,10.0
3597,5610245,29084261,Shared room,Santa Maria Maior,8,4.0,4,1.0,11.0
7584,13116032,72951043,Shared room,Arroios,1,0.0,8,1.0,10.0
13148,19314160,135270245,Shared room,Santa Clara,0,0.0,1,1.0,10.0